<!DOCTYPE html>
<html>
	<head>
		<title>MK2S</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons" rel="stylesheet">
		<script type="text/javascript" src="assets/jq.js"></script>
		<script type="text/javascript" src="assets/mustache.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
		<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
		<link type="text/css" rel="stylesheet" href="stylesheets/style.css">

	</head>
	<body>
        <nav class="nav-bar-nav">
            <div class="nav-bar">
                <div class="nav-left-align">
                    <p class="logo-text">
                       <a href="/">MK2S</a>
                    </p>
                </div>
                <div class="nav-middle-align">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">PortFolio</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="nav-right-align">
                    <ul>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>